<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyjh.clothing.dao.Product_order_detailDao">
    <select id="findforEntity" resultType="PageData">
        SELECT * FROM product_order_detail
        where order_detail_id = #{order_detail_id}
    </select>
    <insert id="insertOrderDetail" parameterType="PageData">
        insert into product_order_detail(
        order_code,
        product_id,
        product_name,
        price,
        amount
        ) values (
        #{order_code},
        #{product_id},
        #{product_name},
        #{price},
        #{amount}
        )
    </insert>

</mapper>